/* ==========================
RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

img{
    display:block;
    max-width:100%;
}

/* ==========================
PAGINA
========================== */

body{

    background:#111;

    font-family:Georgia,serif;

    display:flex;
    justify-content:center;

    padding:8px;

}

/* ==========================
WRAPPER
========================== */

.wrapper{

    width:100%;

    max-width:430px;

    background:#f7f3ed;

    border:1px solid #5b3b31;

    border-radius:12px;

    padding:8px;

}

/* ==========================
LAYOUT
========================== */

.container{

    display:grid;

    grid-template-columns:
    90px
    1fr
    90px;

    gap:3px;

    align-items:start;

}

/* ==========================
SIDEBAR
========================== */

.left-sidebar,
.right-sidebar{

    display:flex;
    flex-direction:column;
    gap:10px;

}

/* ==========================
CENTRO
========================== */

.content{

    display:flex;
    flex-direction:column;
    gap:10px;

}

.hero{
    height:95px;
}

.intro{
    height:110px;
}

.divider{
    height:18px;
}

.top-grid{

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;

}

.about,
.currently{
    height:180px;
}

.interests{
    height:120px;
}

.updates{
    height:180px;
}

/* ==========================
SIDEBAR SINISTRA
========================== */

.wolf{
    height:95px;
}

.menu{
    height:130px;
}

.moon{
    height:110px;
}

.news{
    height:110px;
}

.player{
    height:90px;
}

.status{
    height:70px;
}

/* ==========================
SIDEBAR DESTRA
========================== */

.bat{
    height:95px;
}

.extra{
    height:140px;
}

.links{
    height:140px;
}

.buttons{
    height:100px;
}

.credits{
    height:120px;
}

/* ==========================
BOX
========================== */

.panel{

    background:#f8f4ee;

    border:2px solid #5b3b31;

    border-radius:10px;

}
