/* =====================================
   RESET
===================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

img{
    display:block;
    max-width:100%;
}

a{
    text-decoration:none;
    color:inherit;
}

body{
    background:#111;
    font-family:Georgia, serif;
    color:#222;
    padding:25px;
}


/* =====================================
   WRAPPER
===================================== */

.wrapper{
    width:min(95vw, 700px);
    margin:20px auto;
   background:#f7f3ed;    
   border:3px solid red;     
   border-radius:18px;     
   padding:14px;     
   position:relative;     
   left:0;
}


/* =====================================
   LAYOUT PRINCIPALE
===================================== */

.container{
    display:grid;
    grid-template-columns: 1fr;
}


/* =====================================
   SIDEBAR
===================================== */

.left-sidebar,
.right-sidebar{

    display:flex;
    flex-direction:column;
    gap:18px;

}


/* =====================================
   CONTENUTO CENTRALE
===================================== */

.content{

    display:flex;
    flex-direction:column;

    gap:18px;

}


/* =====================================
   HERO
===================================== */

.hero{

}


/* =====================================
   INTRO
===================================== */

.intro{

}


/* =====================================
   DIVIDER
===================================== */

.divider{

}


/* =====================================
   ABOUT + CURRENTLY
===================================== */

.top-grid{

    display:grid;

    grid-template-columns:
    1fr
    1fr;

    gap:18px;

}


/* =====================================
   INTERESTS
===================================== */

.interests{

}


/* =====================================
   UPDATES
===================================== */

.updates{

}


/* =====================================
   FOOTER
===================================== */

.footer{

    margin-top:18px;

}


/* =====================================
   BOX STANDARD
===================================== */

.panel{

    background:#f8f4ee;

    border:2px solid #5b3b31;

    border-radius:10px;

    padding:18px;

}


/* =====================================
   MOBILE
===================================== */

@media (max-width:1400px){

    body{

        overflow-x:auto;

        padding:20px;

    }

    .wrapper{

        min-width:1320px;

    }

}
