/* ==========================
RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

img{
    display:block;
    max-width:100%;
}

/* ==========================
PAGINA
========================== */

body{

    background:#111;

    font-family:Georgia,serif;

    display:flex;
    justify-content:center;

    padding:8px;

}

/* ==========================
WRAPPER
========================== */

.wrapper{

    width:100%;

    max-width:430px;

    background:#f7f3ed;

    border:1px solid #5b3b31;

    border-radius:12px;

    padding:8px;

}

/* ==========================
LAYOUT
========================== */

.container{

    display:grid;

    grid-template-columns:
    100px
    1fr
    100px;

    gap:4px;

}

/* ==========================
TELAI
========================== */

.sidebar-frame,
.center-frame{

    border:1px solid #2b1d18;

    padding:4px;

    display:flex;

    flex-direction:column;

    gap:6px;

}

/* ==========================
CENTRO
========================== */

.top-grid{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:6px;

}

/* ==========================
ALTEZZE
========================== */

.hero{height:95px;}

.intro{height:70px;}

.divider{height:10px;}

.about,
.currently{height:150px;}

.interests{height:90px;}

.updates{height:150px;}

.wolf{height:95px;}

.menu{height:115px;}

.moon{height:100px;}

.news{height:105px;}

.player{height:90px;}

.status{height:70px;}

.bat{height:95px;}

.extra{height:135px;}

.links{height:120px;}

.buttons{height:85px;}

.credits{height:110px;}

/* ==========================
BOX
========================== */

.panel{

    background:#f8f4ee;

    border:2px solid #5b3b31;

    border-radius:8px;

}
